*~
output-chunk
output-single
*.fasl
asciidoctor.org
node_modules
html_chunks
test/resources/output
tmp*
asciidoctor-chunker_v*
dist/*.asciidoctor-chunker.js
.jsbeautifyrc
.eslintignore
.github
.gitignore
.prettierignore
.vscode
legacy-code
settings.json
