*~
example
output-chunk
output-single
*.fasl
asciidoctor.org
node_modules
html_chunks
test
tmp*
asciidoctor-chunker_v*
dist/*.asciidoctor-chunker.js
dist/asciidoctor-chunker.js.LICENSE.txt
.jsbeautifyrc
.eslintignore
.github
.gitignore
.prettierignore
.vscode
legacy-code
settings.json
Makefile
