.nav {
  margin: 0;
  max-width: 150px;
  min-width: 90px;
  justify-content: center;
  align-content: center;
  font-size: 40px;
  color: #ccc;
  text-align: center;
  text-decoration: none;
  text-rendering: auto;
  -webkit-transition: all 350ms ease;
  -moz-transition: all 350ms ease;
  -o-transition: all 350ms ease;
  transition: all 350ms ease
}

.nav:hover {
  text-decoration: none;
  color: #444
}

.nav-next {
  float: right;
  display: block;
}

.nav-prev {
  float: left;
  display: block;
}
